[defaults]
inventory = inventory/hosts.yml
roles_path = roles
interpreter_python = auto_silent
callback_result_format = yaml
retry_files_enabled = False

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
