APPDATA_PATH=appdata_path
MEDIA_BASE_PATH=media_base_path
DOWNLOADS_PATH=downloads_path

MOVIES_PATH=movies_path
MOVIES_4k_PATH=movies_4k_path
MOVIES_ANIME_PATH=movies_anime_path

SHOWS_PATH=shows_path
SHOWS_ANIME_PATH=shows_anime_path
