MEDIA_BASE_PATH=media_path

DOWNLOADS_PATH=downloads_path
SLSKD_DOWNLOADS_PATH=slskd_downloads_path

IMAGES_PATH=${MEDIA_BASE_PATH}/images

MOVIES_PATH=${MEDIA_BASE_PATH}/movies
MOVIES_4k_PATH=${MEDIA_BASE_PATH}/movies_4k
MOVIES_ANIME_PATH=${MEDIA_BASE_PATH}/movies_anime

SHOWS_PATH=${MEDIA_BASE_PATH}/shows
SHOWS_ANIME_PATH=${MEDIA_BASE_PATH}/shows_anime

MUSIC_PATH=${MEDIA_BASE_PATH}/music